/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #00376b;
}

/* Header and Navigation Bar */
header {
    background-color: rgba(0, 52, 95, 0.701);
    color: #fff;
    margin: auto 0;
    padding: 1rem 5vw;
    width: 100%;
    position: fixed;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 1000;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo {
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
}

nav .logo-wrap {
    display: flex;
    margin: auto 0;
}

nav .list {
    margin: auto 0;
    display: flex;
}

nav a {
    color: #fff;
    margin: auto;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    background: #0060b9;
    border-radius: 10px;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/banner3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#banner1 {
    background-image: url("../assets/banner1.jpg");
}

#banner2 {
    background-image: url("../assets/banner2.jpg");
}

#banner3 {
    background-image: url("../assets/banner3.jpg");
}

*/ .banner-content {
    padding: 0 10%;
}

.title {
    color: white;
    font-family: "quicksand", sans-serif;
    font-size: 40px;
    text-align: center;
}

.take {
    color: white;
    font-family: "quicksand", sans-serif;
    font-size: 30px;
    margin: 5%;
}

.horizontal {
    width: 70%;
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 5% auto;
}

.if {
    color: white;
    font-family: "quicksand", sans-serif;
    font-size: 20px;
    margin: 5%;
    letter-spacing: 5px;
    margin-bottom: 10%;
}

.book {
    width: 9%;
    color: white;
    text-decoration: none;
    background-color: #0060b9;
    padding: 13px;
    border: 3px solid #ffff;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.book:hover {
    background-color: #00376b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.523);
    transition: all 0.5s ease;
}

.profile {
    margin: 50px;
}

.achievement {
    margin: 50px;
}

.profile_container {
    display: flex;
    justify-content: space-around;
    background-color: #dadada;
    padding-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.profile_item {
    text-align: -webkit-center;

}

.profile_img {
    background-image: url(../assets/user.jpg);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.html_img {
    background-image: url(../assets/html.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.css_img {
    background-image: url(../assets/CSS.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.java_img {
    background-image: url(../assets/Javascript.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}


#about-me {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.container-about {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.profile-picture {
    flex: 1;
    text-align: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #ddd;
}

.bio {
    flex: 2;
    padding: 0 20px;
}

.bio h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.bio p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}


/* Message Us Form */
.message {
    margin: 50px;
}

#pesan {
    margin: 0 0 40px 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container {
    display: flex;
    justify-content: space-between;
}

form {
    flex: 1;
    display: grid;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form textarea {
    resize: vertical;
}

.gender-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

form button {
    padding: 10px;
    background: #00376b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #0060b9;
}

.empty-box {
    flex: 1;
    border: 1px dashed #ccc;
    margin-left: 20px;
    padding: 1rem 2rem;
}

#output p {
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 5vh;
    padding: 20px;
    background: #00376b;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 7px;
    }

    .hamburger-menu {
        display: flex;
    }


    nav .list {
        display: none;
        flex-direction:column;
        width: 100%;
        background: rgba(0, 0, 0, 0.58);
        position:absolute;
        top: 100%;
        left: 0;
        gap: 1rem;
    }

    nav .list.show {
        display:block;
    }

    nav .list a {
        font-size: 13px;
        padding: 1%;
        text-align: left;
        display: flex;

    }

    nav {
        display: flex;
        align-items: center;
    }

    nav .logo-wrap {
        padding-top: 10px;
    }

    /* nav .list {
        margin-top: 1rem;
        flex-direction: column;
        width: 100%;
    }

    nav a {
        width: 100%;
        display: flex;
        justify-content: center;
    } */

    nav a:hover {
        border-radius: 0;
    }

    .banner {
        width: 100vw;
    }

    .profile {
        margin: 20px;

    }

    .profile_container {
        font-size: 15px;
    }

    .achievement {
        margin: 20px;
    }

    .container-about {
        flex-direction: column;
    }

    .message {
        margin: 20px;
    }

    .message-container {
        flex-direction: column;
    }

    .empty-box {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }
}